.calculatorWrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    grid-area: m;
}
.search{
    display: flex;
    width: 500px;
    flex-direction: row;
    margin: 20px;
}
.products{
    background-color:#02aab0;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
}
.products img {
    width: 100px
}


