.calculatorWrapper{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    grid-area: m;
    padding: 50px;
    background-color:#7cc4ff;
}
.search{
    display: flex;
    width: 500px;
    flex-direction: row;
}
.products{
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;  
    overflow-y: scroll;
}
.products img {
    width: 100px;
    height: 100px;
   
}


